@import "common/com";
.container{
  height: 100%;
  position: relative;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
}
.content{
  margin-top: 56px;
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 0;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid rgba(0,0,0,.12);
  background: #fff;
}
