@import "common/com";
@import "common/mixin";
.container{
  height: 100%;
  position: relative;
  display: flex;
  &>nav{
    height: 100%;
    width: 240px;
    overflow: hidden;
    background: #fff;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
  }
  &>header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background-color: transparent;
    transition: background .3s linear;
    &.view{
      background-color: #3f51b5;
      box-shadow: 0 0 10px rgba(0,0,0,.5);
    }
  }
  &>.content{
    width: calc(100% - 240px);
    height: 100%;
    padding-top: 56px;
    padding-bottom: 45px;
    overflow-y: scroll;
    @include optimizationScroll;
  }
  &>footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 0;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid rgba(0,0,0,.12);
    background: #fff;
  }
}


