@import "reset";

@font-face {
  font-family: 'iconfont';  /* project id 374822 */
  src: url('//at.alicdn.com/t/font_8di5cs4thnzv9529.eot');
  src: url('//at.alicdn.com/t/font_8di5cs4thnzv9529.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_8di5cs4thnzv9529.woff') format('woff'),
  url('//at.alicdn.com/t/font_8di5cs4thnzv9529.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_8di5cs4thnzv9529.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}